<!DOCTYPE html>
<html layout:decorate="~{layout}">
	
	<div layout:fragment="content" class="container">
		<h5 class="my-3 border-bottom pb-2">Todotitle Create</h5>
	
		<form th:action="@{/todotitle/create}" th:object="${todotitleCreateForm}" method="POST" autocomplete="off">
			
			<!-- 에러 출력 -->
			<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
				<div th:each="err : ${#fields.allErrors()}" th:text="${err}">				
				</div>
			</div>
			
			<div class="mb-3">
				<label for="subject" class="form-label">할 일 타이틀 작성하기</label>
				<input type="text" th:field="*{subject}" name="subject" id="subject" class="form-control">
			</div>
			
			<div class="mb-3">
				<label for="content" class="form-label">할 일 관련된 간략한 내용 작성하기</label>
				<textarea th:field="*{content}" name="content" id="content" class="form-control" rows="5"></textarea>
			</div>
			
			<input type="submit" value="등록하기" class="btn btn-danger my-2">
		</form>
		
	</div>
	
</html>