<!DOCTYPE html>
<html layout:decorate="~{layout}">
	
	<div layout:fragment="content" class="container my-3">
		<h5 class="my-3 border-bottom pb-2" th:text="${todotitle.subject}"></h5>
		
		<div class="text-end">
			작성자 : <span class="fw-bold" th:if="${todotitle.writer != null}" th:text="${todotitle.writer.username}"></span>
			(Create Date : <span th:text="${todotitle.createDate}"></span>)
		</div>
	
		<div  class="pb-5 text-black-50" th:text="${todotitle.content}"></div>
		
		<h6 th:text="|${#lists.size(todotitle.todoworkList)} 개의 관련 할 일이 등록되어 있습니다.|"></h6>
		<div>
			<ul>
			
				<!--li th:each="tw : ${todotitle.todoworkList}" th:text="${tw.content}"></li-->
				<li th:each="tw : ${todotitle.todoworkList}">
					<span th:text="${tw.content}"></span>
					&nbsp; - &nbsp;					
					<span th:if="${tw.writer != null}" th:text="${tw.writer.username}" class="fw-bold text-primary"></span>
					<span class="small">(<span th:text="${tw.createDate.substring(0,5)}"></span>)</span>
					<!--span th:text="${#temporals.format(tw.createDate,'yyyy-MM-dd HH:mm')}"></span-->
				</li>
				
			</ul>
		</div>
		
		<div class="pb-5">
			<form th:action="@{|/todowork/create/${todotitle.id}|}" th:object="${todoworkCreateForm}"method="POST" autocomplete="off">
				
				<!--
				<div sec:authorize="isAnonymous()">
					<input disabled value="로그인 해야지만 글 작성 가능" type="text" name="content" class="form-control">
					<input disabled type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">
				</div>
				
				<div sec:authorize="isAuthenticated()">
					<input type="text" name="content" class="form-control" required autofocus>
					<input type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">
				</div>
				-->
				
				<!-- 에러 출력 -->
				<div class="alert alert-danger" role="alert" th:if="${#fields.hasAnyErrors()}">
					<div th:each="err : ${#fields.allErrors()}" th:text="${err}">
					</div>
				</div>
				
				<input sec:authorize="isAnonymous()" disabled value="로그인 해야지만 글 작성 가능" type="text" name="content" class="form-control">
				<input sec:authorize="isAuthenticated" type="text" name="content" class="form-control" autofocus>
				<input type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">
			
				<!--
				<div sec:autorize="isAnonymous()">
					<input disabled value="로그인 해야지만 글 작성 가능" type="text" name="content" class="form-control">
					<input type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">
				</div>
				-->
			</form>
		</div>
		
		<a th:href="@{/todotitle/list}" class="btn btn-danger d-flex justify-content-center">할 일 목록 페이지</a>
		<!--
		<div class="d-flex justify-content-center">
			<a th:href="@{/todotitle/list}" class="btn btn-danger">할 일 목록 페이지</a>
		</div>
		-->
	</div>
	
</html>