<!DOCTYPE html>
<html layout:decorate="~{layout}">
	
	<div layout:fragment="content" class="container my-3">
		<h5 class="my-3 border-bottom pb-2" th:text="${todotitle.subject}"></h5>
	
		<div  class="pb-5 text-black-50" th:text="${todotitle.content}"></div>
		
		<h6 th:text="|${#lists.size(todotitle.todoworkList)} 개의 관련 할 일이 등록되어 있습니다.|"></h6>
		<div>
			<ul>
				<li th:each="tw : ${todotitle.todoworkList}" th:text="${tw.content}"></li>
			</ul>
		</div>
		
		<div class="pb-5">
			<form th:action="@{|/todowork/create/${todotitle.id}|}" method="POST" autocomplete="off">
				
				<input type="text" name="content" class="form-control" required autofocus>
				<input type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">

				<!--
				<div sec:autorize="isAnonymous()">
					<input disabled value="로그인 해야지만 글 작성 가능" type="text" name="content" class="form-control">
					<input type="submit" value="할 일 등록하기" class="btn btn-dark mt-2">
				</div>
				-->
			</form>
		</div>
		
		<a th:href="@{/todotitle/list}" class="btn btn-danger d-flex justify-content-center">할 일 목록 페이지</a>
		<!--
		<div class="d-flex justify-content-center">
			<a th:href="@{/todotitle/list}" class="btn btn-danger">할 일 목록 페이지</a>
		</div>
		-->
	</div>
	
</html>